*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #adf1ff 24%, #ffaeaf 49%, #7a5691 75%, #1b163f 100%);
    min-height: 1000vh;

}
.star{
    position: relative;
   
    margin-top: 8000px;
  
}